<div class="todo_list">
  <div>
    <%= public_todo_list.name %> <%= link_to_watch(public_todo_list) %>
  </div>

  <% unless public_todo_list.tasks.empty? %>
    <ul class="tasks">
      <% public_todo_list.tasks.each do |task| %>
        <li><%= task.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<hr/>