<div class="todo_list">
  <div><%= todo_list.name %> <%= visibility(todo_list) %></div>
  <% unless todo_list.tasks.empty? %>
    <ul class="tasks">
      <% todo_list.tasks.each do |task| %>
        <li><%= task.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<hr/>