<div class="todo_list">
  <%= todo_list.name %>
  <% unless todo_list.tasks.empty? %>
    <ul class="tasks">
      <% todo_list.tasks.each do |task| %>
        <li><%= task.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<hr/>