.flash_message
{
  border: 1px solid;
  padding: .4em;
  // padding-left: 2.6em;
}

#flash_notice
{
  border-color: #9c9;
  // background: #e2f9e3 url(/images/tick.png) no-repeat 5px center;
  background: #e2f9e3;
  color: #060;
}

#flash_error
{
  border-color:#c68484;
  // background: #fcc url(/images/cross.png) no-repeat 5px center;
  background: #fcc;
  color: #c00;
}

#flash_alert
{
  border-color:#82c2d4;
  // background: #ebf5f8 url(/images/information.png) no-repeat 5px center;
  background: #ebf5f8;
  color: #000;
}