html {
  font-size: 62.5%;
}

body {
  color: #373737;
  background-color: #F5F5F5;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 1.6em;
  line-height: 1.8em;
}

.ir   { display:block; overflow: hidden; text-indent: -9999px; }
hr    { display: none; }

h1,h2,h3,h4 {
  color: black;
}

h1 {
  color: black;
  font-size: 2.4em;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 1.4em;
  letter-spacing: -.05em;
}

.clearfix {
  overflow: hidden;
}