html {
  font-size: 62.5%;
}

body {
  color: #373737;
  background-color: #F5F5F5;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 1.6em;
  line-height: 1.8em;
}

.ir   { display:block; overflow: hidden; text-indent: -9999px; }
hr    { display: none; }

h1,h2,h3,h4 {
  color: black;
}

h1 {
  color: black;
  font-size: 2.4em;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 1.4em;
  letter-spacing: -.05em;
}

a {
  color: #33825f;
}

form {

  padding: 0 2.5em 2.5em;

  label abbr {
    color: red;
  }

  label {
    display: block;
  }

  div.input.boolean label {
    display: inline;
  }

  span.error {
    display: block;
    color: red;
    font-size: .7em;
  }

  span.hint {
    color: #AAA;
    font-size: .7em;
    display: block;
    line-height: .7em;
    margin-bottom: 1em;
  }

  div.submit {
    border-top: 1px solid #DDD;
    margin-top: 1em;
    padding-top: 1em;
  }

  input.button {
    font-size: 1em;
  }

}

div#cancel_account {
  padding: 0 2.5em;
}

div#footer {
  color: #AAA;
  text-align: center;
  font-size: .65em;
  margin-top:1em;
}

.clearfix {
  overflow: hidden;
}