div#container {
  width: 35em;
  margin: 1em auto;
}

div#header {

  div#app_name {
    font-size: 1.4em;
    float: left;
    width: 30%;
  }

  div#user_nav {
    float: right;
    font-size: .65em;
    text-align: right;
    width: 70%;
  }

}

div#menu {

  border-width: 1px 0;
  margin-top: .5em;

  ul li {
    display: left;
    float: left;

    a {
      color: #999;
      display: block;
      font-size: .9em;
      font-weight: bold;
      float: left;
      padding: 10px 14px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  ul li.current {

    a {
      color: #000;
      background-color: #FFF;
      -webkit-border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -moz-border-radius-topleft: 8px;
      -moz-border-radius-topright: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

  }

  div#new_todo_list {
    float: right;

    a {
      display:block;
      font-size: .75em;
      margin: .6em .6em 0 0;
      padding: .15em .65em;
    }
  }

}

div#content {
  background-color: white;
  padding-top:1em;
}

div#footer {
  color: #AAA;
  text-align: center;
  font-size: .65em;
  margin-top:1em;
}