div#container {
  width: 35em;
  margin: 1em auto;
}

div#header {

  div#app_name {
    font-size: 1.4em;
    float: left;
    width: 30%;
  }

  div#user_nav {
    float: right;
    font-size: .65em;
    text-align: right;
    width: 70%;
  }

}

div#menu {

  border-width: 1px 0;
  margin-top: .5em;

  ul li {
    display: left;
    float: left;

    a {
      color: #999;
      display: block;
      font-size: .9em;
      font-weight: bold;
      float: left;
      padding: 10px 14px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  ul li.current {

    a {
      color: #000;
      background-color: #FFF;
      -webkit-border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -moz-border-radius-topleft: 8px;
      -moz-border-radius-topright: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

  }

  div#new_todo_list {
    float: right;

    a {
      color: #FFF;
      font-family: Helvetica,Arial,sans-serif;
      font-size: .75em;
      font-weight: bold;
      text-decoration: none;
      display:block;
      margin: .6em .6em 0 0;
      padding: .15em .85em;
      background: -moz-linear-gradient(
            top,
            #10c200 0%,
            #5bb32e 75%,
            #118a11);
      background: -webkit-gradient(
            linear, left top, left bottom,
            from(#10c200),
            color-stop(0.75, #5bb32e),
            to(#118a11));
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border: 0px solid #2ea100;
      -moz-box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 3px rgba(68,102,4,1);
      -webkit-box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 3px rgba(68,102,4,1);
      text-shadow:
            0px 0px 0px rgba(255,240,255,0.2),
            1px 1px 0px rgba(110,125,107,1);
      }
  }

}

div#content {
  background-color: white;
  padding-top:1em;
}

div#footer {
  color: #AAA;
  text-align: center;
  font-size: .65em;
  margin-top:1em;
}