div.todo_list {

  padding: 0 2.5em 2.5em;
  padding-top: 1em;
  border-bottom: 1px solid #DDD;

  &.public  { background:         url("public.png")   no-repeat 98% 15px; }
  &.private { background: #fcfdf1 url("private.png")  no-repeat 98% 15px; }

  div.avatar {
    float:left;
    width:2.6em;
  }

  div.info {
    float:left;

    div.actions {
      font-size:.6em;
      line-height: 1.2em;

      a {
        background-repeat: no-repeat;
        padding-left: 1.6em;

        &.edit      { background-image: url("pencil.png"); }
        &.destroy   { background-image: url("trash.gif"); }
        &.watching  { background-image: url("watching.png"); }
      }
    }
  }

  h3 {
    color: #444;
    font-size: 1.2em;
    letter-spacing: -.075em;
    line-height: 1.3em;
  }

  ul.tasks {

    li {
      border-bottom: 1px solid #EEE;
      padding-left: .75em;
      list-style: square inside;
    }

  }

}

form {

  div.input {
    input#todo_list_name {
      font-size: 1.6em;
      font-weight: bold;
      width: 18em;
    }
  }

  div#tasks {

    border-bottom: 1px solid #DDD;
    padding-bottom: 1em;
    margin: 1em 0;

    a.add_child {
      background: url("add.png") no-repeat;
      padding-left: 1.2em;
    }

  }

  div.task_field  {

    div.input {
      float: left;
    }

  }

}